<div class="text-left d-flex justify-content-center align-items-center hero-section"
     {% if content.field_image %}
         style="background-image: url('{{ file_url(content.field_image|field_target_entity.field_media_image.entity.uri.value) }}');"
     {% endif %}>
</div>
