.light-blue{
    background-color: #F4FAFF;
}
.white{
    background-color: white;
}

.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
    padding: unset;
}
.media {
    display: unset; 
}
.services .contact-form-submit {
    padding-top: unset;
}
.comment-image img {
    width: unset;
}
.btn-primary:hover {
    color: #fff;
    border-color: unset;
}
.container.section-2 {
    margin: 80px auto;
}
#user-login-form, #user-pass{
    max-width: 512px;
    margin: 80px auto;
}
#user-login-form .form-submit {
    text-transform: uppercase;
}
@media (min-width: 300px) {
    .prayer-section .contextual-region {
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }
}
.prayer-section .contextual-region {
    max-width: 300px;
}
.contact-section-2 .form-item {
    margin-top: unset;
}
.contact-section-2 .form-checkboxes .form-item, .contact-section-2 legend{
    margin-bottom: 20px !important;
}
